In [1]:
import findspark
findspark.init()

In [2]:
# Initialize spark sesssion
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("bookings-etl").getOrCreate()

In [3]:
# Import Library
from pyspark.sql.functions import concat, col, lit, to_date, date_add, expr, udf, when
from pyspark.sql.types import StringType, IntegerType

In [4]:
# Reading the file
data = spark.read.option('header','True').csv("hostel.csv",inferSchema=True)

In [5]:
# Find all unique element of column which datatype is of string
for col in data.dtypes:
    if col[1]=='string':
        print(col[0])
        data.select(col[0]).distinct().show()
        print('******************************************************')

hotel
+------------+
|       hotel|
+------------+
|  City Hotel|
|Resort Hotel|
+------------+

******************************************************
arrival_date_month
+------------------+
|arrival_date_month|
+------------------+
|              July|
|          November|
|          February|
|           January|
|             March|
|           October|
|               May|
|            August|
|             April|
|              June|
|          December|
|         September|
+------------------+

******************************************************
children
+--------+
|children|
+--------+
|       3|
|       0|
|      NA|
|       1|
|      10|
|       2|
+--------+

******************************************************
meal
+---------+
|     meal|
+---------+
|       SC|
|       FB|
|Undefined|
|       BB|
|       HB|
+---------+

******************************************************
country
+-------+
|country|
+-------+
|    POL|
|    LVA|
|    BRB|
|    ZMB|
|    JAM|
|    BRA|
|    ARM|
|    MOZ|
|    CUB|
|    JOR|
|    FRA|
|    ABW|
|    URY|
|    BOL|
|    GIB|
|    LBY|
|    ETH|
|     CN|
|    ITA|
|    UKR|
+-------+
only showing top 20 rows

******************************************************
market_segment
+--------------+
|market_segment|
+--------------+
| Offline TA/TO|
| Complementary|
|      Aviation|
|        Direct|
|     Undefined|
|     Corporate|
|     Online TA|
|        Groups|
+--------------+

******************************************************
distribution_channel
+--------------------+
|distribution_channel|
+--------------------+
|               TA/TO|
|              Direct|
|           Undefined|
|                 GDS|
|           Corporate|
+--------------------+

******************************************************
reserved_room_type
+------------------+
|reserved_room_type|
+------------------+
|                 F|
|                 E|
|                 B|
|                 L|
|                 D|
|                 C|
|                 A|
|                 G|
|                 P|
|                 H|
+------------------+

******************************************************
assigned_room_type
+------------------+
|assigned_room_type|
+------------------+
|                 K|
|                 F|
|                 E|
|                 B|
|                 L|
|                 D|
|                 C|
|                 A|
|                 G|
|                 I|
|                 P|
|                 H|
+------------------+

******************************************************
deposit_type
+------------+
|deposit_type|
+------------+
|  Non Refund|
|  Refundable|
|  No Deposit|
+------------+

******************************************************
agent
+-----+
|agent|
+-----+
|  467|
|  296|
|  451|
|    7|
|  307|
|  475|
|  334|
|  205|
|   15|
|  282|
|   54|
|  234|
|  232|
|  155|
|  483|
|  154|
|  132|
|  495|
|  388|
|   11|
+-----+
only showing top 20 rows

******************************************************
company
+-------+
|company|
+-------+
|    451|
|     51|
|    447|
|    307|
|    169|
|    334|
|    272|
|    442|
|    470|
|    383|
|    282|
|     54|
|    232|
|    448|
|    234|
|    483|
|    154|
|    317|
|    132|
|    521|
+-------+
only showing top 20 rows

******************************************************
customer_type
+---------------+
|  customer_type|
+---------------+
|      Transient|
|Transient-Party|
|          Group|
|       Contract|
+---------------+

******************************************************
reservation_status
+------------------+
|reservation_status|
+------------------+
|          Canceled|
|           No-Show|
|         Check-Out|
+------------------+

******************************************************
reservation_status_date
+-----------------------+
|reservation_status_date|
+-----------------------+
|             2015-05-01|
|             2016-08-17|
|             2017-05-14|
|             2016-04-22|
|             2016-08-08|
|             2016-08-20|
|             2016-09-11|
|             2017-02-24|
|             2017-05-11|
|             2015-02-09|
|             2015-02-27|
|             2015-11-20|
|             2016-05-21|
|             2016-07-06|
|             2015-02-26|
|             2015-08-15|
|             2016-01-16|
|             2016-03-17|
|             2016-04-15|
|             2017-08-18|
+-----------------------+
only showing top 20 rows

******************************************************

In [6]:
# Filter Record based on Tour operator as market_segment designation 
filter_df=data.filter(data.market_segment == "Offline TA/TO")

In [7]:
# Create the arrival_date field by combining the arrival_date_year, arrival_date_month and arrival_date_day_of_month columns using column objects

filter_1 = filter_df.withColumn("arrival_date", to_date(concat(filter_df['arrival_date_year'].cast("string"), lit('-'), filter_df['arrival_date_month'], lit('-'), filter_df['arrival_date_day_of_month'].cast("string")),"yyyy-MMMM-d"))


# Create the departure_date field by adding the stays_in_weekend_nights and stays_in_week_nights columns to the arrival_date field using sql expresion
 
filter_2 = filter_1.withColumn("departure_date",expr("date_add(arrival_date,stays_in_weekend_nights+stays_in_week_nights)"))

In [8]:
# Create new column "with_family_breakfast" as 'yes' if sum of children and babies aregreater then 0 else 'No'
filter_3=filter_2.withColumn('with_family_breakfast',when(filter_2.children.cast('int')+filter_2.babies> 0,"Yes")
                             .otherwise("No"))

In [9]:
#Write output in a parquet file format
filter_3.write.mode('overwrite').parquet("hostel_booking")

### Validation Cases:

In [10]:
# Check the unique record in market_segment after applying filter on market_segment
filter_3.select('market_segment').distinct().show()

+--------------+
|market_segment|
+--------------+
| Offline TA/TO|
+--------------+

In [11]:
# Review the arrival_date, departure_date column
filter_3.select('arrival_date_year','arrival_date_month','arrival_date_day_of_month','arrival_date','stays_in_weekend_nights','stays_in_week_nights','departure_date').show(5)

+-----------------+------------------+-------------------------+------------+-----------------------+--------------------+--------------+
|arrival_date_year|arrival_date_month|arrival_date_day_of_month|arrival_date|stays_in_weekend_nights|stays_in_week_nights|departure_date|
+-----------------+------------------+-------------------------+------------+-----------------------+--------------------+--------------+
|             2015|              July|                        1|  2015-07-01|                      0|                   3|    2015-07-04|
|             2015|              July|                        1|  2015-07-01|                      0|                   4|    2015-07-05|
|             2015|              July|                        1|  2015-07-01|                      2|                   5|    2015-07-08|
|             2015|              July|                        1|  2015-07-01|                      2|                   5|    2015-07-08|
|             2015|              July|                        1|  2015-07-01|                      2|                   5|    2015-07-08|
+-----------------+------------------+-------------------------+------------+-----------------------+--------------------+--------------+
only showing top 5 rows

In [12]:
# Validate the derivation of with_family_breakfast column
filter_3.select('with_family_breakfast','children','babies').distinct().show()

+---------------------+--------+------+
|with_family_breakfast|children|babies|
+---------------------+--------+------+
|                  Yes|       0|     2|
|                  Yes|       1|     0|
|                  Yes|       0|     1|
|                  Yes|       3|     0|
|                   No|       0|     0|
|                  Yes|       2|     0|
|                  Yes|       2|     1|
|                  Yes|       1|     1|
|                  Yes|      10|     0|
+---------------------+--------+------+

In [13]:
# shape of the data before processing
print('Before data processing: ')
print(f'Total row count:'+ str(data.count()) +'\nTotal columns: '+ str(len(data.columns)))

print('**************************************')

# shape of the data After processing
print('\nAfter data processing: ')
print(f'Total row count:'+ str(filter_3.count()) +'\nTotal columns: '+ str(len(filter_3.columns)))

Before data processing:
Total row count:119390
Total columns: 32
**************************************

After data processing:
Total row count:24219
Total columns: 35

In [14]:
# Filter all column which is of int datatype
# numerical features

numeric_feature=[i[0] for i in filter_3.dtypes if i[1]=='int']
print(', '.join(numeric_feature))

is_canceled, lead_time, arrival_date_year, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, adults, babies, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, booking_changes, days_in_waiting_list, required_car_parking_spaces, total_of_special_requests

In [15]:
# Filter all column which is of string datatype
# categorical features

categorical=[i[0] for i in filter_3.dtypes if i[1]=='string']
print(', '.join(categorical))

hotel, arrival_date_month, children, meal, country, market_segment, distribution_channel, reserved_room_type, assigned_room_type, deposit_type, agent, company, customer_type, reservation_status, reservation_status_date, with_family_breakfast